/* impot componenti */

@import 'bootstrap/dist/css/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";
@import './style.css';
@import './header-carousel-video.css';
@import './navbar.css';
@import './details_carousel.css';
@import './form_login.css';
@import './stats.css';
@import './card_carousel.css';
@import './our-team.css';
@import './about-us.css';
@import './newsletter.css';
@import './footer.css';
@import './button.css';


/* import swiper */
@import 'swiper/css';
@import 'swiper/css/bundle';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


/* COLOR */

:root{
    --arancio: #eaa636;
    --bianco: rgb(253, 245, 235);
    --nero: #1e1916;
  }
  
  .text-arancio{
    color: var(--arancio);
  }
  
  .text-bianco{
    color: var(--bianco);
  }
  
  .text-nero{
    color: var(--nero);
  }
  
  .bg-arancio{
    background-color: var(--arancio);
  }
  
  .bg-bianco{
    background-color: var(--bianco);
  }
  
  .bg-nero{
    background-color: var(--nero);
  }
  
  /* END COLOR */
  

.vh-40{
    height: 40vh;
}
.vh-60{
    height: 60vh;
}
.h-30{
  height: 30px;
}