.card-img-top-index{
    height: 185px;
    width: 250px;
}
.div-button{
    display: flex;
    justify-content: end;
}

.card-index{
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 3px 3px 6px lightslategray;
}

@media screen and (max-width: 576px) {
    .card-img-top-index{
        width: 100%;
        object-fit: cover;
    }

    .div-button{ 
        justify-content: start;
        
    }

    .button-crud{
        flex-wrap: wrap;
    }
}
