/* Card negli annunci */
/* .card-index{
    max-width: 30em;
    flex-direction: row;

}

.card-index img{
    max-width: 25%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
}

.card-body{
    display: flex;
    justify-content: space-between;
}
.text-section{
    max-width: 60%;
}
.cta-section{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.cta-section .btn{
    padding: 0.3em 0.5em;
    background-color: var(--arancio);
    border-color: var(--arancio);
}

@media screen and(max-width:475px){
    .card-index{
        font-size: 0.9em;
    }
} */
/* end card negli annunci */