.card-img-top-index{
    height: 185px;
    width: 250px;
}
.div-button{
    display: flex;
    justify-content: end;
}

.card-index{
    border: solid 2px var(--arancio);
    padding: 20px;
    border-radius: 25px;
    background-color: white;
}

@media screen and (max-width: 576px) {
    .card-img-top-index{
        width: 100%;
        object-fit: cover;
    }

    .div-button{ 
        justify-content: start;
        padding: 10px 0 20px 0px;
    }
}
