/* Video Carousel */

#carouselExampleAutoplaying{
    position: relative;
    height: 100%;
    width: 100%;
  }
  video{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100vh;
  }
  
  .video-filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 25, 22, 0.6);
    z-index: 2;
  }
  
  .carousel-control-next, .carousel-control-prev{
    z-index: 3;
  }
  
  .carousel-inner-header{
    height: 100vh;
    width: 100%;
  }
  
  /* END Video Carousel */

  /* Titolo Header */

.container-titolo{
    position: absolute;
    z-index: 3;
    top: 100px;
  }
  
  .titolo-header{
    font-size: 12rem;
    color: var(--bianco);
  }
  
  .sottotitolo-header{
    font-size: 3rem;
    color: var(--bianco);
  }
  
  @media screen and (max-height: 768px){
    .titolo-header {
      font-size: 7em;
      padding-top: 0px;
    }
    .sottotitolo-header {
      font-size: 1.8em;
    }
  }
  
  @media screen and (max-width: 768px){
    .titolo-header {
      font-size: 7em;
      padding-top: 80px;
    }
    .sottotitolo-header {
      font-size: 1.8em;
    }
  }
  
  @media screen and (max-width: 576px) {
    .container-titolo{
      top: 0;
    }
  }
  
  /* END Titolo Header */
  
  /* Searchbar */
  
  .container-searchbar{
    position: absolute;
    z-index: 3;
    bottom: 300px;
    display: flex;
  }
  
  .search-header{
    border-radius: 100px;
    border: solid 1px var(--arancio);
    width: 400px;
    height: 50px;
    padding-left: 20px;
  }
  
  .search-header:focus{
    box-shadow: 1px 1px 9px rgba(255, 165, 0, 0.5);
    border-color: var(--arancio);
  }
  
  .search-header:focus-visible{
    border: solid 2px var(--arancio);
    outline-color: var(--arancio);
  }
  
  .btn-search{
    position: relative;
    overflow:hidden;
    margin: 0 20px;
    letter-spacing: 2px;
    background-color: var(--arancio);
    border-radius: 50px;
    border: none;
    width: 100px;



    text-align: center;
    display: inline-block;

    
    cursor: pointer;
    overflow:hidden;

    background-color: var(--arancio);

    text-decoration: none;
    color: var(--nero);
  }
  
  .btn-search:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background : var(--bianco);
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
  }
  
  .btn-search:hover:before {
    left:95%;
  }
  
  @media screen and (max-height: 768px){
    .container-searchbar{
      bottom: 150px;
    }
  }
  
  @media screen and (max-width: 576px){

    .search-header{
      width: 200px;
    }
    .container-searchbar{
      bottom: 200px;
    }
  }
  
  /* end Searchbar */
  
  /* Triangolo con freccia */
  
  .container-triangle{
    position: relative;
    bottom: 0px;
    z-index: 2;
  }
  
  .triangle {
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 120px solid white;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transform: translateX(-50%);
    left: 50%;
    
  }
  
  .container-arrow{
    position: absolute;
    bottom: 0;
    z-index: 3;
  }
  
  .arrow{
    color: var(--arancio);
    font-size: 4rem;
    animation: 0.5s mover alternate infinite;
    cursor: pointer;
  }
  
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  
  /* END Triangolo con freccia */
  