
.scroll-to-top-button {

    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    background-color:transparent;
    z-index: 10;
} 

.button_scroll{
    width: 70px;
    height: 70px;
    z-index: 10;
}

/* .scroll-to-top-button:hover {
    background-color: var(--bianco);
}  */
