.btn-arancio{
    border-radius: 50%;
    background-color: var(--arancio);
}


#box-search {
    position: relative;
    display: inline-flex;
    display: flex;
    align-items: center;
    justify-content: end; 
}

#box-search form {
    display: flex;
    overflow: hidden;
    align-items: center; 
    
}

#box-search input[type="search"] {
    width: 0;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.2s 0.1s;
    padding: 6px 12px;
    border: none;
    border-radius: 15px;
    margin-right: -30px;
    box-shadow: none;
}

#box-search:hover input[type="search"] {
    width: 200px;
    opacity: 1;
    margin-right: 10px; 
}

.btn-arancio {
    background-color: var(--arancio); 
    border: none;
    padding: 6px 12px; 
    
}

.btn-arancio i.bi-search {
    cursor: pointer;
    color: white;
}

.btn-arancio:hover{
    background-color: var(--arancio);
    color: white;
}

.btn-arancio:hover i.bi-search{
    color: white;
}

@media (max-width: 993px) {
    #box-search input[type="search"] {
        width: 200px;
        opacity: 1;
        transition: none; 
    }
}